<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
    {{>headerLink}}
</head>
<body>
    {{>header}}
     <div class="container  main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your City name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer" id="top_layer">
                        {{!-- <p id="day">Tuesday</p>
                        <p id="today_date">15 Sep</p> --}}
                    </div>
                    <div class="main_layer">
                        <p id="city_name">
                            
                        </p>
                        <div class="middle_layer data_hide">
                            <p id="temp">
                                {{!-- <span>0</span><sup>o</sup>C --}}
                                
                                </p>
                            {{!-- <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p> --}}
                            <div id="icons">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     {{>footer}}
     <script src="js/script.js"></script>
</body>
</html>